header.header
  section.header-top
    .header-top__left.header-logo
      a(href="/")
        img(src="images/logo-h.png", alt="Logo-header")
      h1.header-logo__title Felicita
    .header-top__right.header-nav
      ul.header-nav__list
        each value, key in header_menu
          li.header-nav__item
            if(value[2] === "")
              a(href="#{value[0]}").header-nav__link= key
            else
              a(href="#{value[0]}" class="header-nav__link--#{value[2]}").header-nav__link= key
  section.header-slider
    -var br = "<br>"
    each value, key in feature
      .header-slider__description.feature(class="#{key}")
        h2.feature__title.slide-title
          p.slide-title__paragraph-one= value[0]
            span.slide-title__span-one= value[1]
          p.slide-title__paragraph-two= value[2]
            span.slide-title__span-two= value[3]
        .feature__description!= value[4]
        a.feature__button(href="#{value[5]}") Learn more
          span &gt;
    .header-slider__switch.feature-switch
      ul.feature-switch__list
        each value, key in feature_image
          li.feature-switch__item
            if(value[1] === "")
              a(href="#{value[0]}" class="feature-switch__#{key}").feature-switch__link
                img(src="#{value[2]}", alt="Картинка")
            else
              a(href="#{value[0]}" class="feature-switch__link--#{value[1]} feature-switch__#{key}").feature-switch__link
                img(src="#{value[2]}", alt="Картинка")
